<section>
  <div class="sidebar">
    <div class="">
      <img class="icons" src="http://goo.gl/ZAw2GQ"/>
      <input type="search"
             name="input"
             ng-model="sidebar.filter">
    </div>
    <div class="techs" ng-repeat="tecno in sidebar.data | filter:sidebar.filter"
          ng-click="sidebar.TechStore.setMainName(tecno.name)">
      <h4>{{tecno.name.toUpperCase() + '.'}}</h4>
      <h5 ng-if="tecno.version !== null">{{'(' + tecno.version + ')'}}</h5>
    </div>
  </div>
</section>
