<table class="overview">
  <thead>
    <h3>WELCOME TO THE DEVDOCS</h3>
  </thead>
  <tbody>
    <tr>
      <h3>Search Documents</h3>
    </tr>
    <tr>
      <td>
        <img ng-src="http://goo.gl/ulxthb"/>
      </td>
      <td>
        <input type="search"
               name="input">
      </td>
    </tr>
    <tr>
      <td>
        <input type="button"
               name="search"
               value="SEARCH">
      </td>
      <td>
        <input type="button"
               name="entry"
               value="ENTRY"
               ui-sref="main">
      </td>
    </tr>
  </tbody>
</table>
