<table class="overview">
  <thead>
    <th>
      <h3>WELCOME TO THE DEVDOCS</h3>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>
        <h3>Search Documents</h3>
      </td>
    </tr>
    <tr>
      <td>
        <section>
          <div class="search">
            <img class="icons"
                 ng-src="http://goo.gl/ZAw2GQ"/>
            <input class="btn-search"
                   type="search"
                   name="input"
                   value="Search...">
          </div>
        </section>
      </td>
    </tr>
    <tr>
      <td>
        <section>
          <input class="btn-simple"
                 type="button"
                 name="entry"
                 value="ENTRY"
                 ui-sref="main">
        </section>
      </td>
    </tr>
  </tbody>
</table>
