.sidebar {
  max-height: 47em;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 5px;
  padding-bottom: 10px;
  div {
    background-color: silver;
    border-radius: 5px;
    bottom: 0;
    box-shadow: 1em 1em 6em;
    display: flex;
    height: 100%;
    left: 0;
    margin-top: 3.5px;
    transition: all 1s ease-in-out;
    width: 100%;
    h4 {
      margin-left: 5px;
      margin-right: 5px;
    }
    input {
      border: 0;
      font-size: 18px;
      width: 100%;
    }
  }
  .techs:hover {
    background: #3287A2;
    border: 3px solid black;
    box-shadow: 2em 1.5em 6.5em;
    transform: rotateX(360deg) scale(1.1) translateX(25px) translateY(5px) translateZ(300px);
    width: 87%;
    z-index: 100;
  }
  div:first-child {
    background-color: #CD853F;
    border: 2px solid black;
    border-radius: 2px;
  }
}
