.sidebar {
  box-shadow: 2px 2px;
  max-height: 47.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 5px;
  div {
    background-color: silver;
    border-radius: 5px;
    bottom: 0;
    box-shadow: 4px 4px;
    display: flex;
    height: 100%;
    left: 0;
    margin-top: 3.5px;
    transition: all 0.7s ease-in-out;
    width: 100%;
    h4 {
      margin-left: 5px;
      margin-right: 5px;
    }
    input {
      border: 0;
      font-size: 18px;
      width: 100%;
    }
  }
  div:hover, div.hover_effect {
    background: #3287A2;
    border: 3px solid black;
    box-shadow: 7px 7px;
    transform: rotateX(360deg) scale(1.1) translateX(30px);
    width: 87%;
    z-index: 100;
  }
  div:visited {
    transform: translateX(-20px);
  }
  div:first-child {
    background-color: #CD853F;
    border: 2px solid black;
    border-radius: 2px;
  }
}
