<section class="main">
  <div class="first-child" >
    <!-- DOC CONTEINTER -->
    <div ng-if=" main.TechStore.getDescription() !== '' ">
      <div class="">
        <h2>{{main.TechStore.getName().toUpperCase()}}</h2>
      </div>
      <div>
        <a href="{{main.TechStore.getDescription()}}" target="_blank"><h5>{{ main.TechStore.getDescription() }}</h5></a>
        <iframe ng-src="{{ main.TechStore.getDescription() }}">
        </iframe>
      </div>
    </div>

    <!-- GAME CONTEINER -->
    <div  ng-if=" main.TechStore.getDescription() === '' ">
      <h1>MAIN PANEL</h1>
    </div>
  </div>


</section>
